<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="../static/css/styleconsult.css" type="text/css" media="all" />
        <script type="text/javascript" src="../static/js/appconsult.js"></script>
        <title>Web App</title>
        
    </head>
    <body>
        <h1>Consult Users</h1>
        <div>
            <label>id</label> <input id="ident"> <br> <br>
            <img id= "img-user" src= "" /> <br>
            <textarea id="txt-data"> </textarea><br>
            <button onClick = "consult_user()"> Consult </button>
        </div>
    </body>
</html>